<ErrorList errors="@errors" />
@if (!CreatingPost)
{
    <MudText Typo="Typo.h3" Class="mb-2 text-center">@postText</MudText>
}
else
{
    <Editor ScriptSrc="lib/tinymce/tinymce.min.js" JsConfSrc="tinyMceConf" Disable="false" @bind-Value="@postText" />
}

<AuthorizeView>
    <Authorized>
        @if (!CreatingPost)
        {
            <MudStack Row="true">
                <MudButton Variant="Variant.Text" StartIcon="@Icons.Material.Filled.EditNote" OnClick="CreatePostOnClick">New Post</MudButton>

                @if(IsFollowing)
                {
                    <MudButton Variant="Variant.Text" StartIcon="@Icons.Material.Filled.NotificationsOff" OnClick="UnFollowOnClick">Un-follow</MudButton>
                }
                else
                {
                    <MudButton Variant="Variant.Text" StartIcon="@Icons.Material.Filled.NotificationAdd" OnClick="FollowOnClick">Follow</MudButton>
                }
                
            </MudStack>
        }
        else
        {
            <div class="d-flex">
                <button class="bi bi-arrow-return-left" type="button" style="background-color:transparent;border:none;" @onclick="SubmitOnClick"> Submit</button>
                <button class="bi bi-door-open" type="reset" style="background-color:transparent;border:none;" @onclick="@CancelOnClick"> Cancel</button>
            </div>
        }
    </Authorized>

</AuthorizeView>

@if (forum!.Posts == null || forum!.Posts.Count == 0)
{
    <p>No posts available</p>
}
else
{
    <MudPaper Elevation="5">
        <MudFab id="ScrollToBottom_button" Class="showing" StartIcon="@Icons.Material.Filled.ArrowCircleDown" Color="Color.Tertiary" @onclick="ScrollToBottom" />
        <MudTable @ref="_table" id="PostList" Items="@forum.Posts" RowsPerPage="@RowsPerPage" RowsPerPageChanged="RowsPerPageChanged" Hover="true" Breakpoint="Breakpoint.None" LoadingProgressColor="Color.Info" Style="max-height: calc(100vh - 200px);overflow-y:auto;">
            <HeaderContent>
                <MudTh></MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd><ForumPost ForumCreatedById="@forum!.CreatedById" @bind-post="@context" @bind-post:after="postChanged" OnReplying="@(e => ReplyToPost(e))" PostIndex="@(GetPostNumber(context.Id))" PostIndexFunc="GetPostNumber" /></MudTd>
            </RowTemplate>
            <PagerContent>
                @if (_table != null)
                {
                    <MudPagination SelectedChanged="PageChanged" Count="@((_table.GetFilteredItemsCount() + _table.RowsPerPage - 1) / _table.RowsPerPage)" Class="pa-4" ShowFirstButton="true" ShowLastButton="true" ShowNextButton="true" ShowPreviousButton="true" />
                    <MudTablePager PageSizeOptions="Lookups.MudPagination.PageSizeOptions" InfoFormat="@($"{Lookups.MudPagination.InfoFormat}")" HorizontalAlignment="HorizontalAlignment.Right" HidePagination="true" />
                }
            </PagerContent>
        </MudTable>
        <MudScrollToTop TopOffset="100" Selector="#PostList" Style="z-index:2001;right:50px;bottom:70px;">
            <MudFab Color="Color.Tertiary" StartIcon="@Icons.Material.Filled.ArrowCircleUp" />
        </MudScrollToTop>
    </MudPaper>
}

@code {
    [Parameter] public ForumViewModel? forum { get; set; }
    [Parameter] public EventCallback<ForumViewModel> forumChanged { get; set; }

    ApplicationUserViewModel applicationUserViewModel = new();

    private PostViewModel? ReplyPost;
    private MudTable<PostViewModel>? _table;
    private IJSObjectReference? module;
    private DotNetObjectReference<ForumPostList>? objRef;
    List<string>? errors;

    private bool IsFollowing => applicationUserViewModel != null && forum != null && forum.Followers.Any(x => x.Id == applicationUserViewModel.Id);
    int? ReplyPostId;
    int RowsPerPage = 5;



    private string? postText = "Please sign in to create a new post";

    private bool CreatingPost;

    private bool IsAuthenticated;

    protected override async Task OnInitializedAsync()
    {
        objRef = DotNetObjectReference.Create(this);
        module = await _jsRuntime.InvokeAsync<IJSObjectReference>("import", "./js/app.js");
        IsAuthenticated = await _authService.IsIauthenticated();
        postText = IsAuthenticated ? "" : "Please sign in to create a new post";

        if (IsAuthenticated)
        {
            Response<ApplicationUserViewModel> response = await _authService.GetLoggedInUser();

            if (response.Success)
            {
                applicationUserViewModel = response?.Data ?? new ApplicationUserViewModel();
            }

            if (_signalRService?.HubConnection?.State == HubConnectionState.Connected)
            {
                _signalRService.ForumChanged += (s, e) => ForumChanged(s, e);

                if (_signalRService.HubConnection != null && forum != null)
                {
                    await _signalRService.HubConnection.SendAsync("AddToGroup", $"forumchanged{forum?.Id}");
                }
            }
        }
    }

    private void CreatePostOnClick()
    {
        ReplyPostId = null;
        CreatingPost = true;
    }

    private void CancelOnClick()
    {
        CreatingPost = false;
        postText = "";
        ReplyPostId = null;
    }

    private async Task SubmitOnClick()
    {
        errors = new List<string>();

        if (string.IsNullOrEmpty(postText))
        {
            errors.Add("Post text must not be blank");
            StateHasChanged();
            return;
        }

        DateTime dateTime = DateTime.UtcNow;

        PostViewModel post = new PostViewModel
            {
                CreatedBy = applicationUserViewModel,
                CreatedById = applicationUserViewModel.Id,
                ReplyPostId = ReplyPost?.Id,
                CreatedDate = dateTime,
                ModifiedDate = dateTime,
                ForumId = forum?.Id ?? 0,
                Text = postText
            };

        var newPostResponse = await _postService.CreateNewPost(post);

        if (!(newPostResponse?.Success ?? false))
        {
            errors.Add("Unable to create new post");
        }
        else
        {
            if (newPostResponse.Data != null && ReplyPost != null && newPostResponse.Data.ReplyPostId != null)
            {
                newPostResponse.Data.ReplyPost = ReplyPost;
                _snackbar.Add("Reply Posted!", Severity.Success);
            }

            if (ReplyPost == null) _snackbar.Add("Post Created!", Severity.Success);

            if (forum?.Posts != null && newPostResponse?.Data != null)
            {
                //forum.Posts.Add(newPostResponse.Data);
                forum.Posts = forum.Posts.OrderByDescending(x => x.ModifiedDate).ToList();
            }

            var searchResponse = await _searchService.Create(forum, ApiEndpoints.Search);

        }

        CancelOnClick();
        StateHasChanged();

    }

    private void ReplyToPost(PostViewModel replyPost)
    {
        ReplyPost = replyPost;
        ReplyPostId = replyPost.Id;
        CreatingPost = true;
    }

    private void PageChanged(int i)
    {
        if (_table != null)
        {
            _table.NavigateTo(i - 1);
        }
    }

    private void RowsPerPageChanged(int i)
    {
        RowsPerPage = i;
    }

    private int GetPostNumber(int id) => (forum?.Posts.Count ?? 0) - (forum?.Posts.FindIndex(x => x.Id == id) ?? 0);

    private async Task postChanged()
    {
        var searchResponse = await _searchService.Create(forum, ApiEndpoints.Search);
        _snackbar.Add("Edit successfully posted", Severity.Success);
    }

    private async Task ScrollToBottom()
    {
        if (module != null)
        {
            await module.InvokeAsync<string>("ScrollToBottom", "PostList");
        }
    }

    private async Task FollowOnClick()
    {
        if(applicationUserViewModel != null && !string.IsNullOrEmpty( applicationUserViewModel.Id))
        {
            FollowedForumViewModel model = new()
            {
                FollowerId = applicationUserViewModel.Id,
                ForumId = forum?.Id ?? 0,
                Title = forum.Title
            };

            Response<FollowedForumViewModel> response = await _forumService.FollowAsync(model, ApiEndpoints.FollowForum);

            if(response.Success && forum != null)
            {
                forum.Followers.Add(applicationUserViewModel);
                await forumChanged.InvokeAsync(forum);
            }
        }

        StateHasChanged();
    }

    private async Task UnFollowOnClick()
    {
        if (applicationUserViewModel != null && !string.IsNullOrEmpty(applicationUserViewModel.Id))
        {
            FollowedForumViewModel model = new()
                {
                    FollowerId = applicationUserViewModel.Id,
                    ForumId = forum?.Id ?? 0
                };

            bool success = await _forumService.UnfollowAsync<FollowedForumViewModel>(model, ApiEndpoints.UnFollowForum(forum?.Id ?? 0, applicationUserViewModel.Id));

            if (success && forum != null)
            {
                forum.Followers.Remove(applicationUserViewModel);
                await forumChanged.InvokeAsync(forum);

               
            }
        }

        StateHasChanged();
    }

    private void ForumChanged(object? sender, string FollowedForumViewModel)
    {
        if(!string.IsNullOrEmpty(FollowedForumViewModel))
        {
            FollowedForumViewModel? model = JsonConvert.DeserializeObject<FollowedForumViewModel>(FollowedForumViewModel);

            
        }
    
    }

}
